.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;
}

.navbar > h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
