main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  padding: 3px 8px;
}

.colorPicker {
  border-radius: 8px;
  padding: 8px;
  background-color: whitesmoke;
  box-shadow: 8px 8px 0 #000;
  margin-bottom: 40px;
  align-self: flex-end;
}
